:root {
    --canvas-scale: 0.1;
    --scale-speed: 0.4s;
    --menu-visible: 0;
    --ui-visible: 0;
}

#canvas1 {
    position: absolute;
    background: #0f0f1d;
    /* border: 4px solid #1b1b33; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%) scale(var(--canvas-scale)); */
    transform: translate(-50%, -50%);
    /* transition: transform var(--scale-speed) ease; */
    image-rendering: pixelated;
    user-select: none;
}

@media (min-aspect-ratio: 3/4) {
    #canvas1 {
        height: 100vh;
    }
}

@media (max-aspect-ratio: 3/4) {
    #canvas1 {
        width: 100vw;
    }
}

#restart {
    position: absolute;

    top: 1px;
    right: 1px;

    width: 70px;
    height: 70px;

    image-rendering: pixelated;
    z-index: 3;
    overflow: hidden;
    user-select: none;

    transition: opacity 0.1s ease-in;
    opacity: var(--ui-visible);
}

#menu-button {
    position: absolute;

    top: 10px;
    left: 1px;

    width: 70px;
    height: 70px;

    image-rendering: pixelated;
    z-index: 3;
    overflow: hidden;
    user-select: none;

    transition: opacity 0.1s ease-in;
    opacity: var(--ui-visible);
}

#menu-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    max-width: 500px;
    /* margin: 0 auto; */
    /* center horizontally */
    image-rendering: pixelated;
    overflow: hidden;
    user-select: none;
}

#menu-bg {
    display: block;
    width: 100%;
    opacity: var(--menu-visible);
    transition: opacity 0.1s ease-in;
    z-index: 4;
    overflow: hidden;
    user-select: none;
}

#menu-left,
#menu-right,
#close-button {
    position: absolute;
    image-rendering: pixelated;
    z-index: 5;
    overflow: hidden;
    user-select: none;
}

/* Arrows centered vertically, hugging left/right edges */
#menu-left {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 33%;
    opacity: var(--menu-visible);
    transition: opacity 0.1s ease-in;
    user-select: none;
}

#menu-right {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 33%;
    opacity: var(--menu-visible);
    transition: opacity 0.1s ease-in;
    user-select: none;
}

/* Close button in the top-right corner */
#close-button {
    top: 20px;
    right: 20px;
    transform: translate(20%, -20%) rotate(45deg);
    width: 25%;
    opacity: var(--menu-visible);
    transition: opacity 0.1s ease-in;
    user-select: none;
}


body {
    background-color: #0f0f1d;
    background: #0f0f1d;
    overflow: hidden;
    position: absolute;
    height: 100dvh;
    width: 100vw;

    -webkit-overflow-scrolling: touch;

    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}